.container {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  font-size: 24px;
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 10px;
}

.info {
  margin: 5px 0;
}

.App{
  background-color:#00d2d3;
}